<!doctype html>
    <html lang="en">
      <head>
        <link rel="stylesheet" href="static\css\style.css">
      </head>
      <body>
        <div class="rectangle">
          <h1 class="portal" >COLLEGE MANAGEMENT SYSTEM</h1>
        </div>
        <br>
        <div class="loginbox">
          <h1>Reset Password</h1>
          <form method="POST" class="container">
              <label>Email</label>
              <input type="email" placeholder="Enter your email" name="email">
              
              <div>
                {{message}}
              </div> <br>
              <button id="button" type="submit">Submit</button>
          </form>
        </div>
           
      </body>
    </html>